td table {
  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
}
table {
  margin: auto;
}
th {
  background-color: red;
  font-family: Georgia;
  color: white;
}

td {
  vertical-align: bottom;
  padding: 0px;
  font-size: x-large;
}

td table tr th,
td table tr td {
  border: 2px solid black;
  width: 60px;
  text-align: center;
}
@media screen and (max-width: 1300px) {
  td table tr td {
    line-height: 60px;
  }
}
/* {
  opacity: 0.5;
  color: BLACK;
  position: absolute;
  right: 0;

  text-align: right;
  text-decoration: none;
  float: right;
}*/

a,
div {
  opacity: 0.4;
  color: BLACK;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  text-decoration: none;
  float: right;
}
